body {
    margin: 0;
    padding: 0;
    background-color: #08AEEA;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #08AEEA), to(#2AF598));
    background-image: -webkit-linear-gradient(bottom, #08AEEA 13%, #2AF598 100%);
    background-image: -o-linear-gradient(bottom, #08AEEA 13%, #2AF598 100%);
    background-image: linear-gradient(0deg, #08AEEA 13%, #2AF598 100%);
    height: 800px;

}
.container {
    margin: 0 auto;
    margin-top: 350px;
    padding: 1px;
    width: 412px; 
    border-radius: 56px;
    background-color: rgba(127, 255, 212, 0.671); 
}

.info {
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}

.user-mail,
.user_pass {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 40px;
    border: none;
    width: 324px;
    height: 48px;
    font: inherit;
    padding: 0 15px;
}

.user_pass {
   margin-bottom: 20px;
}


.modal-btn {
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font: inherit;
    /* display: inline-block; */
    margin: 0 auto;
    width: 112px;
    height: 40px;
    line-height: 26px;
    outline: none;
    margin-bottom: 13px;
    background-color: #0EBADC;
}

.modal-btn:active {
    background-color: rgb(13, 166, 197);
    color: #2AF598;
}

.rg-btn {
    border-radius: 14px 0 0 14px;
    border-right: 5px solid rgb(11, 136, 161);
}

.ln-btn {
    border-radius: 0 14px 14px 0;
}

@-webkit-keyframes shakeError {
    0%, 100% { -webkit-transform: translateX(0); transform: translateX(0) }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px) }
    20%, 40%, 60% { -webkit-transform: translateX(10px); transform: translateX(10px) }
}

@keyframes shakeError {
    0%, 100% { -webkit-transform: translateX(0); transform: translateX(0) }
    10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px) }
    20%, 40%, 60% { -webkit-transform: translateX(10px); transform: translateX(10px) }
}

.error-auth-animation {
    background-color: rgb(223, 66, 66);
    -webkit-animation-name: shakeError;
            animation-name: shakeError;
    -webkit-animation-duration: .7s;
            animation-duration: .7s;
}


@-webkit-keyframes successful {
    0% {}
    100% {
        margin-top: 80px;
        width: 726px;
        height: 596px;
    }
}


@keyframes successful {
    0% {}
    100% {
        margin-top: 80px;
        width: 726px;
        height: 596px;
    }
}
.auth-true {
    -webkit-animation: successful .6s ease forwards;
            animation: successful .6s ease forwards;
}



                /* home page */
.cont_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    /* align-items: flex-start; */
}

.home-img {
    /* display: block; */
    margin: 30px;
    width: 244px;
    height: 250px;
}

.img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.avatars-wrap {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.preview-img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    cursor: pointer;
}



.next-btn {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    width: 92px;
    height: 36px;
}


input[type="file"] {
    display: none;
}

label {
    display: block;
    text-align: center;
    margin-top: 70px;
    cursor: pointer;
}

.next-img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 444px;
    height: 340px;
}

.next-page--container {
    -webkit-animation: successful .6s ease forwards;
            animation: successful .6s ease forwards;
}

.back-btn {
    display: block;
    width: 92px;
    height: 36px;
    margin: 0 auto;
    margin-top: 60px;
}